# # Ignore crawl helper project
Crawl_Ielts_Test/

./PAYMENT_SYSTEM_GUIDE.md
./**.md
./**.puml

# Face_Recognition/ - Commented out, need this folder in AI service
# !AI/src/features/face_recognition/