/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  padding-inline: 24px;
  height: 64px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}


:global(.ant-menu-horizontal .ant-menu-item:hover) {
  background-color: #e6f7ff;
  color: #1890ff;
}

:global(.ant-dropdown-menu-item:hover) {
  background-color: #e6f7ff !important;
  color: #1890ff !important;
}


/* Avatar pointer */
.avatar {
  cursor: pointer;
}

/* Content box */
.contentBox {
  background: #fff;
  min-height: 400px;
  padding: 24px;
  border-radius: 8px;
  margin-top: 32px;
}

/* Button login hover */
.loginBtn:hover {
  background-color: #1890ff !important;
  color: #fff !important;
  border-color: #1890ff !important;
  transition: all 0.3s ease;
}
body{
  margin :0;
}
.container {
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto;    /* căn giữa ngang */
  padding: 24px 16px; /* khoảng đệm trong, giúp không dính lề */
  box-sizing: border-box;
}
