.button {
    background-color: rgb(42, 96, 215);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.button:hover {
    background-color: rgb(16, 51, 209);
}