.wrapper {
  display: block;
  width: 100%;
  max-width: 300px; 
  margin: 0 auto
}

.card {
  border-radius: 10px;
  background: #f7f7f7;
  padding: 16px;
  height: 350px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 6px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 48px; 
  line-height: 1.2;
}

.info {
  opacity: 0.75;
  font-size: 14px;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.desc {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
    display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  flex-grow: 1; 
  min-height: 60px; 
  line-height: 1.4;
}

.tags {
  margin-bottom: 12px;
  max-height: 60px;
  overflow: hidden;
}

.tag {
  margin-right: 6px;
  margin-bottom: 4px;
  display: inline-block;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.userRow {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
  min-height: 32px;
}

.username {
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  min-width: 0; 
}

.detailBtn {
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
