@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --theme-primary: #1890ff;
  --theme-success: #1890ff;
  --theme-error: #ff4d4f;
  --theme-warning: #faad14;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  overflow-x: hidden !important;
  overflow-y: visible !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin : 0;
  overflow-x: hidden;
}
