.searchForm {
  display: block;
  width: 100%;
  margin-bottom: 24px;
}

.searchInput {
  width: 100%; 
  max-width: 800px;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
  margin-bottom: 10px; 
}

.searchButton {
  padding: 9px 16px;
  font-size: 14px;
  font-weight: 500;
  background-color: #3f51b5;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}
